<section>
  <h1>Props</h1>
  <p>Browse the props uploaded by our participating theatres or search for a specific item below.</p>
  <br>
  <input type="text" ng-model="propsIndex.queryString" placeholder="Search...">
  <br>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-sm-4" ng-repeat=" prop in propsIndex.all | filter: propsIndex.filter ">
        <div class="card">
          <img class="card-img-top img-fluid" ng-src="{{ prop.image }}" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">{{ prop.name }}</h4>
              <p class="card-text">{{ prop.description }}</p>
              <a ui-sref="propsShow({ id: prop.id })" class="btn btn-primary">More info</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
