<section>
  <div class="container">
    <h1>Props</h1>
    <h3>Browse the props uploaded by our participating theatres or search for a specific item below. If you see an item you would like to borrow, click through to the owner's profile to get in touch.</h3>

    <input type="text" ng-model="propsIndex.queryString" placeholder="Search by prop name...">
    <br>
  </div>

  <div class="container">
    <!-- <ng-include src="'templates/categoriesIndex.html'"></ng-include> -->

    <!-- <button class="btn btn-primary" ng-repeat="category in categoriesIndex.all" ui-sref="categoriesShow({ id: category.id })">{{ category.name }}</button> -->


  </div>

  <div class="container">
    <div class="row">
      <div class="card-columns">
        <div class="card" ng-repeat=" prop in propsIndex.all | filter: propsIndex.filter ">
          <img class="card-img-top img-fluid" ng-src="{{ prop.image }}">
            <div class="card-block">
              <h4 class="card-title">{{ prop.name }}</h4>
              <p class="card-text">{{ prop.description }}</p>
              <a ui-sref="propsShow({ id: prop.id })" class="btn btn-primary">More info</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
