<section>
  <div>
    <h2>Welcome to<br>
    Prop Swap</h2>
    <br>
    <p>Prop Swap allows Off West End Theatres to borrow and lend props without the hefty hire costs. Browse by theatre, prop or category to see the props currently in store at theatres near you. To help stage managers access the items they need, simply register for a profile and list the items currently gathering dust in your prop store!</p>
  </div>

  <div ng-if="main.isLoggedIn()">
    <h3>You are logged in as {{ main.currentUser.username }}.</h3>
    <br>
    <p>What would you like to do today?</p>
    <br>
    <button ui-sref="usersIndex">Search by theatre</button>
    <button ui-sref="propsIndex">Search by prop</button>
    <button ui-sref="propsIndex">Search by category</button>
    <button ui-sref="usersShow({ id: main.currentUser.id })">Edit your profile</button>
    <button ng-click="main.logout()">Logout</button>
  </div>

  <div ng-if="!main.isLoggedIn()">
    <ng-include src="'templates/login.html'"></ng-include>
    <ng-include src="'templates/register.html'"></ng-include>
  </div>

</section>
