<section>
  <div class="container">
    <h1>Theatres</h1>
    <h3>Theatres participating in Prop Swap are listed below. To see what's avalable at your local venue click on a theatre or search by theatre name.</h3>
    <input class="search" type="text" ng-model="usersIndex.queryString" placeholder="Search by theatre name...">
    <br>
  </div>

  <div class="container">
    <div class="row">
    <div class="col-sm-4" ng-repeat=" user in usersIndex.all | filter: usersIndex.filter ">
    <div class="card">
      <img class="card-img-top img-fluid" ng-src="{{ user.image }}">
      <div class="card-block">
        <h4 class="card-title">{{ user.username }}</h4>
        <p class="card-text">{{ user.address }}</p>
        <a ui-sref="usersShow({ id: user.id })" class="btn btn-primary">More info</a>
      </div>
    </div>
