<section>

  <div class="container">
    <h1>{{ propsShow.prop.name }}</h1>
  </div>

  <div class="prop-show-left">
    <img ng-src="{{ propsShow.prop.image }}">
  </div>

  <div class="container">
    <div class="prop-show-right">
      <p>
        <strong>Description: </strong>
        <br>
        {{ propsShow.prop.description }}
      </p>
      <p>
        <strong>Available: </strong>
        <br>
        <span ng-if="propsShow.prop.available">Yes!</span>
        <span ng-if="!propsShow.prop.available">No, sorry</span>
      </p>
      <p>
        <strong>Categories:</strong>
        <br>
        <span ng-repeat="category in propsShow.prop.categories">
          <a ui-sref="categoriesShow({ id: category.id })">{{ category.name }}</a>,
        </span>
      <p>
        <strong>Held by: </strong>
        <br>
        <button class="btn btn-primary" ui-sref="usersShow({ id: propsShow.prop.user.id })">{{ propsShow.prop.user.username }}</button>
      </p>
    </div>
  </div>

  <br>
  <button ng-show="propsShow.isCurrentUser()" ui-sref="propsEdit({id: propsShow.prop.id})" class="btn btn-primary">Edit prop</button>
  <button ng-show="propsShow.isCurrentUser()" ng-click="propsShow.delete()" class="btn btn-primary">Delete prop</button>
  <br>

</section>
