<section ng-controller="RegisterController as register">
  <form novalidate ng-submit="register.submit()">

      <label>Theatre</label>
      <input type="text" placeholder="Name of theatre" ng-model="register.user.username">

      <label>Address</label>
      <input type="text" placeholder="Address" ng-model="register.user.address">

      <label>Email</label>
      <input type="email" placeholder="Email" ng-model="register.user.email">

      <label>Phone number</label>
      <input type="text" placeholder="Phone" ng-model="register.user.phone">

      <label>Password</label>
      <input type="password" placeholder="Password" ng-model="register.user.password">

      <label>Password Confirmation</label>
      <input type="password" placeholder="Password Confirmation" ng-model="register.user.password_confirmation">

      <label>Upload an image</label>
      <drag-drop base64="propsNew.prop.base64"></drag-drop>

      <button>Register</button>

  </form>
</section>
