<section>
  <div class="container">
      <h1>{{ usersShow.user.username }}</h1>
    </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <img ng-src="{{ usersShow.user.image.image.url }}">
        <br>

        <p>{{ usersShow.user.address }}<br>
            {{ usersShow.user.phone }}<br>
            {{ usersShow.user.email }}</p>

        <br>
        <button ng-if="usersShow.isCurrentUser()" ui-sref="usersEdit({id: usersShow.user.id})" class="btn btn-primary">Add prop</button>
        <button ng-if="usersShow.isCurrentUser()" ui-sref="usersEdit({id: usersShow.user.id})" class="btn btn-primary">Edit profile</button>
        <button ng-if="usersShow.isCurrentUser()" ng-click="usersShow.delete()" class="btn btn-primary">Delete profile</button>
      </div>

      <div class="col-sm-6">
          <google-map class="map" user="usersShow.user" ng-if="usersShow.user.$resolved"></google-map>
      </div>
    </div>
  </div>
</section>

<section>
  <h2>Props from {{ usersShow.user.username }}</h2>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-sm-4" ng-repeat=" prop in usersShow.user.props ">
        <div class="card">
          <img class="card-img-top img-fluid" ng-src="{{ prop.image }}" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">{{ prop.name }}</h4>
              <p class="card-text">{{ prop.description }}</p>
              <a ui-sref="propsShow({ id: prop.id })" class="btn btn-primary">More info</a>
            </div>
          </div>
        </div>
      </div>
    </div>


</section>
