* {
  box-sizing: border-box;
}

.drag-drop {
  height: 300px;
  width: 300px;
  background-color: green;
  border-radius: 0px;
  line-height: 0;

  img {
    width: 200px;
  }

  &.active {
    background-color: grey;
  }
}

.map {
  height: 300px;
  width: 40vw;
}

body {
  background-color: yellow;
  .navbar {
    margin-left: 340px;
    background-color: black;
    color: white;
  }
}

.side {
  width: 340px;
  height: 100vh;
  overflow: scroll;
  float: left;
  background-color: black;
  color: white;
  padding: 20px;
  position: static;
  display: inline-block;

  button {
    margin-bottom: 20px;
    background-color: white;
    color: yellow;
    width: 280px;
    display: block;
    a:link {
      color: black;
    }
    a:hover {
      color: yellow;
    }
    a:visited {
      color: black;
    }
    a:active {
      color: yellow;
    }
  }
}

main {
  padding: 20px;
  height: 100vh;
  overflow: scroll;
  width: calc(100% - 360px);
  float: left;
  button {
    padding: 10px 20px;
    margin: 20px;
    display: inline;
  }

  ul {
    list-style-type: none;
  }

  h1 {
    font-size: 100px;
    margin-bottom: 20px;
  }
}

.prop-show-left {
  float: left;
  margin-right: 20px;
  img {
    max-width: 450px;
  }
}
