* {
  box-sizing: border-box;
}

.drag-drop {
  height: 100px;
  width: 280px;
  background-color: darkgrey;
  padding-left: 10px;

  img {
    width: 200px;
  }

  &.active {
    background-color: grey;
  }
}

.map {
  height: 300px;
  width: 40vw;
}


body {
  background-color: yellow;
  .navbar {
    margin-left: 340px;
    background-color: black;
    color: white;
  }
}

.side {
  width: 340px;
  height: 100vh;
  overflow: scroll;
  float: left;
  background-color: black;
  color: white;
  padding: 20px;
  position: static;
  display: inline-block;

  div {
    border-bottom: 2px darkgrey solid;
    margin-bottom: 10px;
  }

  button {
    margin-bottom: 20px;
    margin-top: 10px;
    background-color: silver;
    color: black;
    width: 280px;
    display: block;
    border: 0;
  }
  button:hover {
    background-color: lightgrey;
  }
  button:active {
      outline-color: yellow;
  }
  button:focus {
      outline-color: white;
  }

  input {
    width: 280px;
    margin-bottom: 10px;
  }
  input:focus {
      outline-color: white;
  }
}

main {
  color: black;
  padding: 20px;
  height: 100vh;
  overflow: scroll;
  width: calc(100% - 360px);
  float: left;
  text-align: center;

  .container {
    border-bottom: 5px black solid;
    margin: 40px 10px;
  }

  form {
    input {
      margin: 10px 0px 20px 0px;
      width: 400px;
      height: 40px;
      background-color: yellow;
      border: 2px solid black;
    }
    .checkbox {
      background-color: yellow;
    }
  }

  .btn.btn-primary {
    background-color: black;
    border: none;
    border-radius: 0px;
    color: yellow;
    margin: 10px;
  }



  label {
    margin: 0;
  }

  a {
    color: black;
    text-decoration: underline;
  }

  input {
    margin: 40px 0px;
    width: 400px;
    height: 60px;
    background-color: yellow;
    border: 2px solid black;
  }

  input:focus {
      outline-color: black;
  }

  ul {
    list-style-type: none;
  }

  .card {
    margin-top: 20px;
    background-color: yellow;
    border: 3px solid black;
    border-radius: 0px;
    text-align: center;
    .card-img-top {
      border-radius: 0px;
    }
  }

  .prop-show-left {
    float: left;
    margin-right: 20px;
    padding-bottom: 20px;
    img {
      max-width: 450px;
      border: 3px black solid;
    }
  .prop-show-right {
    text-align: left;
  }
}




h1 {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 100px;
  margin-bottom: 50px;
}

h2 {
  text-transform: uppercase;
  font-size: 40px;
}

label {
  text-transform: uppercase;
}
